<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script>
        var socket = io("http://localhost:3000", { query: { userId: "616135a1c9f2d102e2322187" } });

        socket.on("receive-room-message", (data) => {
            $("#return").append(data.author.name + ": " + data.content);
        })

        $(document).ready(function () {
            $("#send").click(function () {
                socket.emit("send-room-message", {
                    roomId: "618666012c9f00e3aa2e03da",
                    fromUserId: "616135a1c9f2d102e2322187",
                    content: "user3"
                })
            })
        })
    </script>
    <title>Document</title>
</head>

<body>
    <div id="send">click send room</div>
</body>

</html>